#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import numpy as np
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
grouped = df.groupby("Branch")

In [10]:
grouped.sum('Total')

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Branch,,,,,,,,
A,18625.49,1859,5057.1605,106200.3705,101143.21,1619.047619,5057.1605,2389.2
B,18478.88,1820,5057.0320,106197.6720,101140.64,1580.952381,5057.0320,2263.6
C,18567.76,1831,5265.1765,110568.7065,105303.53,1561.904762,5265.1765,2319.9

In [13]:
profit_by_city = df.groupby('Branch')['gross income'].sum().reset_index()
profit_by_city

  Branch  gross income
0      A     5057.1605
1      B     5057.0320
2      C     5265.1765

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [15]:
pd.pivot_table(
    df,
    index='City',
    columns='Branch',
    values='gross income',
    aggfunc='sum',
    fill_value=0
)

Branch             A         B          C
City
Mandalay      0.0000  5057.032     0.0000
Naypyitaw     0.0000     0.000  5265.1765
Yangon     5057.1605     0.000     0.0000

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [16]:
invoices_by_category = pd.pivot_table(
    df,
    index='Product line',       
    columns='Branch',           
    values='Invoice ID',        
    aggfunc='count',            
    fill_value=0                
)

print(invoices_by_category)

Branch                   A   B   C
Product line
Electronic accessories  60  55  55
Fashion accessories     51  62  65
Food and beverages      58  50  66
Health and beauty       47  53  52
Home and lifestyle      65  50  45
Sports and travel       59  62  45

In [17]:
invoices_by_category = pd.pivot_table(
    df,
    index='Branch',          
    columns='Product line',    
    values='Invoice ID',
    aggfunc='count',
    fill_value=0
)

print(invoices_by_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
Branch
A                                 60                   51                  58
B                                 55                   62                  50
C                                 55                   65                  66

Product line  Health and beauty  Home and lifestyle  Sports and travel
Branch
A                            47                  65                 59
B                            53                  50                 62
C                            52                  45                 45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [18]:
top_branch = invoices_by_category['Electronic accessories'].idxmax()
top_count = invoices_by_category['Electronic accessories'].max()

print(f"Найбільше інвойсів у категорії 'Electronic accessories' зроблено у філії: {top_branch} ({top_count} інвойсів)")

Найбільше інвойсів у категорії 'Electronic accessories' зроблено у філії: A (60 інвойсів)

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

#### Гіпотези
* Гіпотеза: певний метод оплати пов’язаний з більшими витратами.
* Гіпотеза: Постійні клієнти (Loyal) витрачають більше за звичайних (Normal).
* Гіпотеза: У різних містах покупці по-різному оцінюють категорії товарів — в одних містах можуть бути вищі середні чеки на певні категорії.

## Гіпотеза 1

In [19]:
 
payment_means = df.groupby('Payment')['Total'].mean().round(2)
print(payment_means)

Payment
Cash           326.18
Credit card    324.01
Ewallet        318.82
Name: Total, dtype: float64

#### Висновок щодо гіпотези:
Гіпотеза, що певний метод оплати пов’язаний з більшими витратами, підтверджується лише частково, бо різниця дуже незначна.

Можливо, метод оплати мало впливає на розмір чека у цій вибірці.

## Гіпотеза 2

In [20]:
df.groupby('Customer type')['Total'].mean().round(2)

Customer type
Member    327.79
Normal    318.12
Name: Total, dtype: float64

#### Що це означає для бізнесу:
Програма лояльності працює: члени купують більше, і вони цінніші для бізнесу.

Важливо утримувати і розширювати базу Member через бонуси, акції, персональні пропозиції.

## Гіпотеза 3

In [21]:
pivot_city_category = pd.pivot_table(
    df,
    index='City',
    columns='Product line',
    values='Total',
    aggfunc='mean',
    fill_value=0
).round(2)

print(pivot_city_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
City
Mandalay                      310.03               264.73              304.30
Naypyitaw                     344.89               331.69              360.10
Yangon                        305.29               320.25              295.92

Product line  Health and beauty  Home and lifestyle  Sports and travel
City
Mandalay                 376.99              350.98             322.39
Naypyitaw                319.53              308.79             350.27
Yangon                   268.04              344.88             328.35

 #### Рекомендації для бізнесу:
 * Mandalay:
Варто акцентувати увагу на розширенні асортименту та маркетингових активностях у сегменті Health and beauty, а також у категоріях для дому та спорту.

 * Naypyitaw:
Варто підтримувати і розвивати напрямки Food and beverages, Electronic accessories і Fashion accessories — це локальні «локомотиви» прибутку.

 * Yangon:
Можливо, варто покращити асортимент і пропозиції у категорії Health and beauty (наприклад, через акції чи новинки), а також продовжити підтримку сильних напрямків: Home and lifestyle і Fashion accessories.