#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import numpy as np
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [2]:
grouped = df.groupby("Branch")

In [10]:
grouped.sum('Total')

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Branch,,,,,,,,
A,18625.49,1859,5057.1605,106200.3705,101143.21,1619.047619,5057.1605,2389.2
B,18478.88,1820,5057.0320,106197.6720,101140.64,1580.952381,5057.0320,2263.6
C,18567.76,1831,5265.1765,110568.7065,105303.53,1561.904762,5265.1765,2319.9

In [13]:
profit_by_city = df.groupby('Branch')['gross income'].sum().reset_index()
profit_by_city

  Branch  gross income
0      A     5057.1605
1      B     5057.0320
2      C     5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [15]:
pd.pivot_table(
    df,
    index='City',
    columns='Branch',
    values='gross income',
    aggfunc='sum',
    fill_value=0
)

Branch             A         B          C
City
Mandalay      0.0000  5057.032     0.0000
Naypyitaw     0.0000     0.000  5265.1765
Yangon     5057.1605     0.000     0.0000

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [16]:
invoices_by_category = pd.pivot_table(
    df,
    index='Product line',       
    columns='Branch',           
    values='Invoice ID',        
    aggfunc='count',            
    fill_value=0                
)

print(invoices_by_category)

Branch                   A   B   C
Product line
Electronic accessories  60  55  55
Fashion accessories     51  62  65
Food and beverages      58  50  66
Health and beauty       47  53  52
Home and lifestyle      65  50  45
Sports and travel       59  62  45

In [17]:
invoices_by_category = pd.pivot_table(
    df,
    index='Branch',          
    columns='Product line',    
    values='Invoice ID',
    aggfunc='count',
    fill_value=0
)

print(invoices_by_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
Branch
A                                 60                   51                  58
B                                 55                   62                  50
C                                 55                   65                  66

Product line  Health and beauty  Home and lifestyle  Sports and travel
Branch
A                            47                  65                 59
B                            53                  50                 62
C                            52                  45                 45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [18]:
top_branch = invoices_by_category['Electronic accessories'].idxmax()
top_count = invoices_by_category['Electronic accessories'].max()

print(f"–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –∑—Ä–æ–±–ª–µ–Ω–æ —É —Ñ—ñ–ª—ñ—ó: {top_branch} ({top_count} —ñ–Ω–≤–æ–π—Å—ñ–≤)")

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –∑—Ä–æ–±–ª–µ–Ω–æ —É —Ñ—ñ–ª—ñ—ó: A (60 —ñ–Ω–≤–æ–π—Å—ñ–≤)

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

#### –ì—ñ–ø–æ—Ç–µ–∑–∏
* –ì—ñ–ø–æ—Ç–µ–∑–∞: –ø–µ–≤–Ω–∏–π –º–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏ –ø–æ–≤‚Äô—è–∑–∞–Ω–∏–π –∑ –±—ñ–ª—å—à–∏–º–∏ –≤–∏—Ç—Ä–∞—Ç–∞–º–∏.
* –ì—ñ–ø–æ—Ç–µ–∑–∞: –ü–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ (Loyal) –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –∑–∞ –∑–≤–∏—á–∞–π–Ω–∏—Ö (Normal).
* –ì—ñ–ø–æ—Ç–µ–∑–∞: –£ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –ø–æ–∫—É–ø—Ü—ñ –ø–æ-—Ä—ñ–∑–Ω–æ–º—É –æ—Ü—ñ–Ω—é—é—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ ‚Äî –≤ –æ–¥–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –º–æ–∂—É—Ç—å –±—É—Ç–∏ –≤–∏—â—ñ —Å–µ—Ä–µ–¥–Ω—ñ —á–µ–∫–∏ –Ω–∞ –ø–µ–≤–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 1

In [19]:
 
payment_means = df.groupby('Payment')['Total'].mean().round(2)
print(payment_means)

Payment
Cash           326.18
Credit card    324.01
Ewallet        318.82
Name: Total, dtype: float64

#### –í–∏—Å–Ω–æ–≤–æ–∫ —â–æ–¥–æ –≥—ñ–ø–æ—Ç–µ–∑–∏:
–ì—ñ–ø–æ—Ç–µ–∑–∞, —â–æ –ø–µ–≤–Ω–∏–π –º–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏ –ø–æ–≤‚Äô—è–∑–∞–Ω–∏–π –∑ –±—ñ–ª—å—à–∏–º–∏ –≤–∏—Ç—Ä–∞—Ç–∞–º–∏, –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂—É—î—Ç—å—Å—è –ª–∏—à–µ —á–∞—Å—Ç–∫–æ–≤–æ, –±–æ —Ä—ñ–∑–Ω–∏—Ü—è –¥—É–∂–µ –Ω–µ–∑–Ω–∞—á–Ω–∞.

–ú–æ–∂–ª–∏–≤–æ, –º–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏ –º–∞–ª–æ –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Ä–æ–∑–º—ñ—Ä —á–µ–∫–∞ —É —Ü—ñ–π –≤–∏–±—ñ—Ä—Ü—ñ.

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 2

In [20]:
df.groupby('Customer type')['Total'].mean().round(2)

Customer type
Member    327.79
Normal    318.12
Name: Total, dtype: float64

#### –©–æ —Ü–µ –æ–∑–Ω–∞—á–∞—î –¥–ª—è –±—ñ–∑–Ω–µ—Å—É:
–ü—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø—Ä–∞—Ü—é—î: —á–ª–µ–Ω–∏ –∫—É–ø—É—é—Ç—å –±—ñ–ª—å—à–µ, —ñ –≤–æ–Ω–∏ —Ü—ñ–Ω–Ω—ñ—à—ñ –¥–ª—è –±—ñ–∑–Ω–µ—Å—É.

–í–∞–∂–ª–∏–≤–æ —É—Ç—Ä–∏–º—É–≤–∞—Ç–∏ —ñ —Ä–æ–∑—à–∏—Ä—é–≤–∞—Ç–∏ –±–∞–∑—É Member —á–µ—Ä–µ–∑ –±–æ–Ω—É—Å–∏, –∞–∫—Ü—ñ—ó, –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó.

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 3

In [21]:
pivot_city_category = pd.pivot_table(
    df,
    index='City',
    columns='Product line',
    values='Total',
    aggfunc='mean',
    fill_value=0
).round(2)

print(pivot_city_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
City
Mandalay                      310.03               264.73              304.30
Naypyitaw                     344.89               331.69              360.10
Yangon                        305.29               320.25              295.92

Product line  Health and beauty  Home and lifestyle  Sports and travel
City
Mandalay                 376.99              350.98             322.39
Naypyitaw                319.53              308.79             350.27
Yangon                   268.04              344.88             328.35

 #### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –±—ñ–∑–Ω–µ—Å—É:
 * Mandalay:
–í–∞—Ä—Ç–æ –∞–∫—Ü–µ–Ω—Ç—É–≤–∞—Ç–∏ —É–≤–∞–≥—É –Ω–∞ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—ñ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É —Ç–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—è—Ö —É —Å–µ–≥–º–µ–Ω—Ç—ñ Health and beauty, –∞ —Ç–∞–∫–æ–∂ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö –¥–ª—è –¥–æ–º—É —Ç–∞ —Å–ø–æ—Ä—Ç—É.

 * Naypyitaw:
–í–∞—Ä—Ç–æ –ø—ñ–¥—Ç—Ä–∏–º—É–≤–∞—Ç–∏ —ñ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –Ω–∞–ø—Ä—è–º–∫–∏ Food and beverages, Electronic accessories —ñ Fashion accessories ‚Äî —Ü–µ –ª–æ–∫–∞–ª—å–Ω—ñ ¬´–ª–æ–∫–æ–º–æ—Ç–∏–≤–∏¬ª –ø—Ä–∏–±—É—Ç–∫—É.

 * Yangon:
–ú–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Health and beauty (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —á–µ—Ä–µ–∑ –∞–∫—Ü—ñ—ó —á–∏ –Ω–æ–≤–∏–Ω–∫–∏), –∞ —Ç–∞–∫–æ–∂ –ø—Ä–æ–¥–æ–≤–∂–∏—Ç–∏ –ø—ñ–¥—Ç—Ä–∏–º–∫—É —Å–∏–ª—å–Ω–∏—Ö –Ω–∞–ø—Ä—è–º–∫—ñ–≤: Home and lifestyle —ñ Fashion accessories.