# Домашнє завдання: Внесення оновлень в БД і робота з транзакціями

Це ДЗ передбачене під виконання на локальній машині. Виконання з Google Colab буде суттєво ускладнене.

## Підготовка
1. Переконайтесь, що у вас встановлены необхідні бібліотеки:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. Створіть файл `.env` з параметрами підключення до бази даних classicmodels. Базу даних ви можете отримати через

  - docker-контейнер згідно існтрукції в [документі](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), також відео інструкції присутні на платформі - уроки "MySQL бази, клієнт для роботи з БД, Docker і ChatGPT для запитів" та "Як встановити Docker для роботи з базами даних без терміналу"
  - або встановивши локально цю БД - для цього перегляньте урок "Опціонально. Встановлення MySQL та  БД Сlassicmodels локально".
  
  Приклад `.env` файлу ми створювали в лекції. Ось його обовʼязкове наповнення:
    ```
    DB_HOST=your_host
    DB_PORT=3306 або 3307 - той, який Ви налаштували
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  Якщо ви створили цей файл під час перегляду лекції - **новий створювати не треба**. Замініть лише назву БД, або пропишіть назву в коді створення підключення (замість отримання назви цільової БД зі змінних оточення). Але переконайтесь, що до `.env` файл лежить в тій самій папці, що і цей ноутбук.

  **УВАГА!** НЕ копіюйте скрит для **створення** `.env` файлу. В лекції він наводиться для прикладу. І давалось пояснення, що в реальних проєктах ми НІКОЛИ не пишемо доступи до бази в коді. Копіювання скрипта для створення `.env` файлу сюди в ДЗ буде вважатись грубою помилкою і ми зніматимемо бали.

3. Налаштуйте підключення через SQLAlchemy до БД за прикладом в лекції.

Рекомендую вивести (відобразити) змінну engine після створення. Вона має бути не None! Якщо None - значить у Вас не підтягнулись налаштування з .env файла.

Ви також можете налаштувати параметри підключення до БД без .env файла, просто прописавши текстом в відповідних місцях. Це - не рекомендований підхід.

In [22]:
import os

import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date

In [2]:
# Підключення до БД
def create_connection():
    load_dotenv()

    host = os.getenv('DB_HOST')
    port = os.getenv('DB_PORT', '3307')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    engine = create_engine(
        connection_string,
        pool_size=1,
        max_overflow=20,
        pool_pre_ping=True,
        echo=False
    )

    return engine

engine = create_connection()

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost:3307/classicmodels)

## Завдання

### Завдання 1: Оновлення інформації про клієнта (2 бали)

**Створіть функцію для оновлення контактної інформації клієнта** з наступними можливостями:
- Оновлення телефону клієнта
- Оновлення email (якщо поле існує)
- Логування змін в окрему таблицю

Використайте підхід з параметризованими запитами через `text()` та `UPDATE` оператор.

Запустіть функцію і продемонструйте її роботу, запустивши SELECT, який допоможе це зробити.

# запутила в дібівер і сворила там журнал змін

CREATE TABLE IF NOT EXISTS contact_updates_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    customerNumber INT,
    old_phone VARCHAR(50),
    new_phone VARCHAR(50),
    old_email VARCHAR(100),
    new_email VARCHAR(100),
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

In [5]:
create_log_table = """
CREATE TABLE IF NOT EXISTS contact_updates_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    customerNumber INT,
    old_phone VARCHAR(50),
    new_phone VARCHAR(50),
    old_email VARCHAR(100),
    new_email VARCHAR(100),
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

with engine.connect() as conn:
    conn.execute(text(create_log_table))
    print("Таблиця `contact_updates_log` створена або вже існує.")

Таблиця `contact_updates_log` створена або вже існує.

In [14]:
df_tables = pd.read_sql("SHOW TABLES LIKE 'contact_updates_log';", engine)
df_tables

  Tables_in_classicmodels (contact_updates_log)
0                           contact_updates_log

In [15]:
df_structure = pd.read_sql("DESCRIBE contact_updates_log;", engine)
df_structure

,Field,Type,Null,Key,Default,Extra
0,log_id,int,NO,PRI,None,auto_increment
1,customerNumber,int,YES,,None,
2,old_phone,varchar(50),YES,,None,
3,new_phone,varchar(50),YES,,None,
4,old_email,varchar(100),YES,,None,
5,new_email,varchar(100),YES,,None,
6,updated_at,timestamp,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED

In [12]:
def update_customer_contact(customer_number, new_phone=None, new_email=None):
    with engine.begin() as conn:  # begin = автоматичний commit

        # 1. Отримуємо старий номер телефону
        result = conn.execute(
            text("SELECT phone FROM customers WHERE customerNumber = :cust"),
            {"cust": customer_number}
        ).fetchone()

        if not result:
            print("Клієнта не знайдено.")
            return

        old_phone = result[0]  
        old_email = None 

        # 2. Оновлюємо телефон, якщо потрібно
        if new_phone:
            conn.execute(
                text("UPDATE customers SET phone = :new_phone WHERE customerNumber = :cust"),
                {"new_phone": new_phone, "cust": customer_number}
            )

        # 3. Логування змін
        conn.execute(
            text("""
                INSERT INTO contact_updates_log (customerNumber, old_phone, new_phone, old_email, new_email)
                VALUES (:cust, :old_phone, :new_phone, :old_email, :new_email)
            """),
            {
                "cust": customer_number,
                "old_phone": old_phone,
                "new_phone": new_phone,
                "old_email": old_email,
                "new_email": new_email
            }
        )

        print(f"Контакт клієнта {customer_number} оновлено.")

In [18]:
        #  тестуємо
 update_customer_contact(103, new_phone="35.55.1234", new_email=None)

Контакт клієнта 103 оновлено.

In [19]:
df_check = pd.read_sql("SELECT * FROM contact_updates_log ", engine)
print(df_check)

   log_id  customerNumber    old_phone    new_phone old_email new_email  \
0       1             103   40.32.2555  +1-555-1234      None      None
1       2             103  +1-555-1234   35.55.1234      None      None

           updated_at
0 2025-08-01 08:54:39
1 2025-08-01 08:59:45

### Завдання 2: Створення нового замовлення з транзакцією (5 балів)

**Реалізуйте процес створення нового замовлення** з наступними кроками в одній транзакції:
- Створення запису в таблиці `orders`
- Додавання товарних позицій в `orderdetails`
- Перевірка наявності товарів на складі
- Зменшення кількості товарів на складі

Запустіть процес з тестовими даними і продемонструйте через SELECT, що процес успішно відпрацював і були виконані необхідні операції.

In [24]:
def create_order(customer_number, order_date, required_date, comments, items):
    """
    items = [
        {"productCode": "S10_1678", "quantityOrdered": 5, "priceEach": 100.0},
        {"productCode": "S18_2248", "quantityOrdered": 3, "priceEach": 75.5},
    ]
    """

    with engine.begin() as conn:  # транзакція

        # 1. Визначаємо новий orderNumber
        result = conn.execute(text("SELECT MAX(orderNumber) FROM orders")).fetchone()
        new_order_number = result[0] + 1 if result[0] else 10100

        # 2. Створюємо запис у таблиці orders
        conn.execute(
            text("""
                INSERT INTO orders (orderNumber, orderDate, requiredDate, status, comments, customerNumber)
                VALUES (:orderNumber, :orderDate, :requiredDate, 'In Process', :comments, :customerNumber)
            """),
            {
                "orderNumber": new_order_number,
                "orderDate": order_date,
                "requiredDate": required_date,
                "comments": comments,
                "customerNumber": customer_number
            }
        )

        # 3. Перебираємо товари
        for i, item in enumerate(items, start=1):
            # Перевірка наявності товару
            result = conn.execute(
                text("SELECT quantityInStock FROM products WHERE productCode = :productCode"),
                {"productCode": item["productCode"]}
            ).fetchone()

            if not result:
                raise Exception(f"Товар {item['productCode']} не знайдено!")

            if result[0] < item["quantityOrdered"]:
                raise Exception(f"Недостатньо товару {item['productCode']} на складі!")

            # Вставка в orderdetails
            conn.execute(
                text("""
                    INSERT INTO orderdetails (
                        orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber
                    )
                    VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
                """),
                {
                    "orderNumber": new_order_number,
                    "productCode": item["productCode"],
                    "quantityOrdered": item["quantityOrdered"],
                    "priceEach": item["priceEach"],
                    "orderLineNumber": i
                }
            )

            # Оновлення залишку
            conn.execute(
                text("""
                    UPDATE products
                    SET quantityInStock = quantityInStock - :quantityOrdered
                    WHERE productCode = :productCode
                """),
                {
                    "quantityOrdered": item["quantityOrdered"],
                    "productCode": item["productCode"]
                }
            )

        print(f"Замовлення #{new_order_number} успішно створено.")

In [25]:
create_order(
    customer_number=103,
    order_date=date.today(),
    required_date=date(2025, 8, 15),
    comments="Online order - test run",
    items=[
        {"productCode": "S10_1678", "quantityOrdered": 5, "priceEach": 95.0},
        {"productCode": "S18_2248", "quantityOrdered": 3, "priceEach": 78.0}
    ]
)

Замовлення #10427 успішно створено.

In [27]:
# Перевірка замовлення- наші сьогоднішні
pd.read_sql("SELECT * FROM orders ORDER BY orderDate DESC LIMIT 5", engine)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10427,2025-08-01,2025-08-15,None,In Process,Online order - test run,103
1,10426,2025-08-01,2025-08-15,None,In Process,Online order - test run,103
2,10424,2005-05-31,2005-06-08,None,In Process,None,141
3,10425,2005-05-31,2005-06-07,None,In Process,None,119
4,10422,2005-05-30,2005-06-11,None,In Process,None,157

In [28]:
# Перевірка позицій замовлення
pd.read_sql("SELECT * FROM orderdetails ORDER BY orderNumber DESC LIMIT 5", engine)

   orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0        10427    S18_2248                3      78.00                2
1        10427    S10_1678                5      95.00                1
2        10426    S18_2248                3      78.00                2
3        10426    S10_1678                5      95.00                1
4        10425    S50_1392               18      94.92                2